{{ define "main"}}
<h1>{{ .Title }}</h1>

<img src="{{ .Params.featured_image }}" class="header" />

<aside class="attribution small">
  by
  <a href="{{ .Params.author.link }}" target="_blank">
    {{ .Params.author.name }}
  </a>
  -
  <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
    {{- .Date.Format "January 2, 2006" -}}
  </time>

  {{ $section := .Site.GetPage "section" .Section }}
  {{ if (or (eq (.Param "show_reading_time") true) (eq $section.Params.show_reading_time true) )}}
  <span class="f6 mv4 dib tracked"> - {{ .ReadingTime}} minutes read</span>
  <span class="f6 mv4 dib tracked"> - {{ .WordCount}} words</span>
  {{ end }}
</aside>

<div class="content post">
  <article>
    {{ .Content }}
  </article>

  {{ if .Params.aside }}
  <aside class="canister dark">
    {{ trim .Params.aside " \n" | markdownify }}
  </aside>
  {{ end }}
</div>
{{ end }}