<div class="advisor canister secondary">
  <h1>
    <span>NRE Labs Advisor</span>
    <span class="subtitle">Get a customized lesson path</span>
  </h1>

  <div class="input-wrapper">
    <input type="text" name="regular" id="regular" placeholder="I want to learn...">
  </div>

  <button class="btn cta">Search Lesson Content</button>

  <aside class="small">
    Use the box above to say what you want to learn, and we’ll work with you
    to build a relevant learning path. Try “Python” or “StackStorm”!
  </aside>
</div>