{{ define "main"}}
<h1>{{ .Title }}</h1>

{{ if .Params.authors }}
<aside class="attribution small">
  by
  {{$n := len .Params.authors}}
  {{range  $i, $e := .Params.authors}}
  <a href="{{.link}}" target="_blank">{{.name}}</a>
  {{ if (and (ge $n 3) (le $i (add $n -2) )) }}, {{ end }}
  {{ if eq (add $i 2) $n }} and {{ end }}
  {{end}}
  -
  <time class="f6 mv4 dib tracked" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
  {{- .Date.Format "January 2, 2006" -}}
  </time>

  {{ $section := .Site.GetPage "section" .Section }}
  {{ if (or (eq (.Param "show_reading_time") true) (eq $section.Params.show_reading_time true) )}}
  <span class="f6 mv4 dib tracked"> - {{ .ReadingTime}} minutes read</span>
  <span class="f6 mv4 dib tracked"> - {{ .WordCount}} words</span>
  {{ end }}
</aside>
{{ end}}

<div class="content">
  {{ .Content }}
</div>
{{ end }}