.modal-wrapper {
  background-color: rgba(0,0,0,0.80);
  padding: @xl-size 0;

  .modal-container {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    box-shadow: 0 2px 9px 0 rgba(0,0,0,0.50);
    width: 50%;
    margin: 0 auto;
    padding: @sm-size @lg-size @base-size;
    min-height: 250px;

    .modal-btn-group {
      display: flex;
      justify-content: space-between;
      padding-top: @md-size;
      margin-top: auto;
    }
  }
}
